/*
yellow - #F4FF0B
black - #000
white - #FFF
light back grey - #C7C7C5
dark word grey - #A8A4A5

h1 - 2em
h2 - 1.5em
h3 - * family: Merriweather / serif
	 * size: 1.25em
	 * weight: bold
button - family: Oswald / sans-serif;
border - * radius: 5px
		 * shadow: inset -3px off the bottom 
   		 * shadow color: rgba(0,0,0,.2);
nav - family: Oswald / sans-serif;  
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
 font-size: 62.5%;
 font-family:'Source Sans Pro', 'Merriweather', 'Oswald', sans-serif;
 font-style: normal;
}

body {
	max-width: 100%;
}

/******************************************
/* LAYOUT
/*******************************************/

#container {
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: #FFF;
	display: block;
}

.leftmargin {
	margin:0 0 0 2rem;
}

header {
	background-color: #000;
	display: block;
	width: 100%;
	height: 10rem;
	border-bottom: .8rem;
	border-bottom-style: solid;
	border-bottom-color: #F4FF0B;
}

h1 {
	font-size: 2rem;
	color: #F4FF0B;
	font-family: 'Merriweather';
	padding-top: 1.2rem;
	padding-bottom: 0;
}

nav {
	padding-bottom: 3rem;
	margin-bottom: 3rem;
	margin-right: 2rem;
	color: #fff;
	font-size: 1.5rem;
}

ul {
	text-align: right;
}

li {
	display: inline-block;
	text-align: left;
	margin-left: 2rem;
}

li:nth-child(-n+2) {
	font-family: 'Oswald';
}

/* This is heinous. Fix this. */
#hero {
  background: url(images/coworking.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 70rem;
}

section {
	text-align: center;
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 300;
	background-color: #C7C7C5;
	height: 8rem;
}

h2 {
	margin: 0;
	padding-top: 2rem;
}

#taste {
	color: #A8A4A5;
	text-decoration: line-through;
	-webkit-text-decoration-color: #A8A4A5;
   -moz-text-decoration-color: #A8A4A5;
	text-decoration-color: #A8A4A5;
}

/* Chrome needs special permission to render this correctly */
#are {
	text-decoration: underline;
	-webkit-text-decoration-color: #F4FF0B;
  -moz-text-decoration-color: #F4FF0B;
	text-decoration-color: #F4FF0B;
}

#hero-text {
	background-color: #C7C7C5;
	background: rgba(204, 204, 204, 0.7);
	display: inline-block;
	width: 30rem;
	margin-left: 75%;
	color: #000;
	height: 40%;
	font-size: 1.8rem;
	margin-top: 2rem;
	border: .2 .2 .2 .2;
	border-style: solid;
	border-color: #A8A4A5;
	padding: 1rem;
}

h2 {
	font-weight: bold;
	font-size: 1.5rem;
}

button {
  text-align: center;
  margin: auto;
	border-radius: 5px;
  box-shadow: inset -3px 1px rgba(0,0,0,.2);
  font-size: 1.8rem;
}

#hero-text button {
	background-color: #F4FF0B;
	color: #000;
	padding-bottom: 1rem;
}

#columns {
	width: 100%;
	background-color: #fff;
	height: 100%;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
}

#columns div{
	display: inline-block;
	vertical-align: top;
	width: 33%;
	margin: 0;
	padding: 0;
}

#columns h3 {
	font-family: 'Merriweather';
	font-size: 1.8rem;
	font-style: normal;
}

#columns button {
	background-color: #C7C7C5;
	color: #000;
	width: 20rem;
	font-size: 1.6rem;
	height: 3rem;
}

#columns p {
	font-size: 1.6rem;
	text-align: left;
	font-style: normal;

}

footer {
	background-color: #000;
	color: #fff;
	margin: 0;
	height: 7rem;
	display: table;
	width: 100%;
}

footer p {
	margin: 0;
	padding-top: 1rem;
	font-size: 1.5rem;
	display: table-cell;
	vertical-align: middle;
	padding-left: 2rem;
}